.user {
    padding: 1rem 2rem;
    background-color: black;

    h1 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 30px;
        font-family: monospace;
    }

    .postlist {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        min-height: 7vh;
        background-color: black;
        color: #fff;

        img{
            width: 100%;
        }

        .post {
            margin: 10px auto;
            padding: 1rem;
            box-shadow: 2px 4px 10px rgb(161, 161, 161);
        
            h3 {
                color: rgb(14, 14, 80);
                margin-bottom: 10px;
                font-size: 22px;
            }
            
                 
            }
        }
    }

    @media screen and (max-width: 700px) {
        .user{
            .postlist{
                display: flex;
                flex-direction: column;
            }
        }        
    }
